/**
 * Variables
 */
$green : #45c08d;
$gray  : #a3a3a3;

/**
 * Base configurations 
 */
body {
	position: relative;
	overflow-x: hidden;
}
figure {
	margin: 0;
}
.row {
	width: rem-calc(1000) !important;
	//background: #c00;
	//height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	@extend %transition-color;
}

a {
	@extend %transition-color;
	&:hover {
		color: $green;
	}
}

#wrapper {
	min-height: rem-calc(750);
	z-index: 9999;
	margin-bottom: rem-calc(40);

	&.single {
		z-index: 99;
		margin-top: rem-calc(200);
	}
	&.category {
		z-index: 999999;
		position: relative;
		margin-bottom: 0;
	}
}

/**
 * Positions
 */
%abs {
	position: absolute;
}
.abs {
	@extend %abs;
}

%rel {
	position: relative;
}
.rel {
	@extend %rel;
}

.centered {
	margin: 0 auto;
}

/**
 * Displays
 */
.display-block {
	display: block;
}

%ov-hidden {
	overflow: hidden;
}
.ov-hidden {
	@extend %ov-hidden;
}

/**
 * Fonts
 */

//Familys
%apex-medium {
	font-family: 'ApexNew-Medium' !important;
}
.apex-medium {
	@extend %apex-medium;
}

%apex-medium-italic {
	font-family: 'ApexNew-MediumItalic';
}
.apex-medium-italic {
	@extend %apex-medium-italic;
}

%apex-bold {
	font-family: 'ApexNew-BoldItalic';
}
.apex-bold {
	@extend %apex-bold;
}

%apex-book {
	font-family: 'ApexNew-Book';
}
.apex-book {
	@extend %apex-book;
}

%century-gothic {
	font-family: 'CenturyGothic';
}
.century-gothic {
	@extend %century-gothic;
}

%century-gothic-bold {
	font-family: 'CenturyGothic-Bold';
}
.century-gothic-bold {
	@extend %century-gothic-bold;
}

//Sizes
%text-upp {
	text-transform: uppercase;
}
.text-upp {
	@extend %text-upp;
}

.full-height {
	height: 100%;
}
.full-width {
	width: 100% !important; 
}

//colors
.white {
	color: white;
}
.green {
	color: $green;
}

/**
 * Backgrounds
 */
%bg-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/**
 * Transitions
 */
%transition {
	@include single-transition;
}
%transition-opacity {
	@include single-transition(opacity, .3s, ease-out);
}
%transition-color {
	@include single-transition(color, .3s, ease-out);
}

/**
 * Animations
 */
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes rotate {
	from {
		-ms-transform: rotate(0);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-o-keyframes rotate {
	from {
		-o-transform: rotate(0);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

%rotate {
	-webkit-animation: fadeIn 1s linear 1,rotate 1s linear infinite;
	-o-animation: fadeIn 1s linear 1,rotate 1s linear infinite;
	animation: fadeIn 1s linear 1,rotate 1s linear infinite;
}

