@font-face {
	font-family: 'ApexNew-Medium';
	src: url('fonts/ApexNew-Medium.eot?') format('eot'), 
	     url('fonts/ApexNew-Medium.otf')  format('opentype'),
	     url('fonts/ApexNew-Medium.woff') format('woff'), 
	     url('fonts/ApexNew-Medium.ttf')  format('truetype'),
	     url('fonts/ApexNew-Medium.svg#ApexNew-Medium') format('svg');
}

@font-face {
	font-family: 'ApexNew-MediumItalic';
	src: url('fonts/ApexNew-MediumItalic.eot?') format('eot'), 
	     url('fonts/ApexNew-MediumItalic.otf')  format('opentype'),
	     url('fonts/ApexNew-MediumItalic.woff') format('woff'), 
	     url('fonts/ApexNew-MediumItalic.ttf')  format('truetype'),
	     url('fonts/ApexNew-MediumItalic.svg#ApexNew-MediumItalic') format('svg');
}

@font-face {
	font-family: 'ApexNew-BoldItalic';
	src: url('fonts/ApexNew-BoldItalic.eot?') format('eot'), 
	     url('fonts/ApexNew-BoldItalic.otf')  format('opentype'),
	     url('fonts/ApexNew-BoldItalic.woff') format('woff'), 
	     url('fonts/ApexNew-BoldItalic.ttf')  format('truetype'),
	     url('fonts/ApexNew-BoldItalic.svg#ApexNew-BoldItalic') format('svg');
}

@font-face {
	font-family: 'ApexNew-Book';
	src: url('fonts/ApexNew-Book.eot?') format('eot'), 
	     url('fonts/ApexNew-Book.otf')  format('opentype'),
	     url('fonts/ApexNew-Book.woff') format('woff'), 
	     url('fonts/ApexNew-Book.ttf')  format('truetype'),
	     url('fonts/ApexNew-Book.svg#ApexNew-Book') format('svg');
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/CenturyGothic.eot?') format('eot'), 
	     url('fonts/CenturyGothic.woff') format('woff'), 
	     url('fonts/CenturyGothic.ttf')  format('truetype'),
	     url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
}

@font-face {
	font-family: 'CenturyGothic-Bold';
	src: url('fonts/CenturyGothic-Bold.eot?') format('eot'), 
	     url('fonts/CenturyGothic-Bold.woff') format('woff'), 
	     url('fonts/CenturyGothic-Bold.ttf')  format('truetype'),
	     url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
}


