.inset-header {
	z-index: 999;
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);

	h1 {
		font-size: rem-calc(100);
		margin-top: rem-calc(30);
		letter-spacing: rem-calc(-4);
		z-index: 10;
	}

	&.info-header {
		h1 {
			font-size: rem-calc(72);
		}
		.no-bg {
			left: rem-calc(0);
			z-index: 0;
		}
	}

	&.clients-header {
		.circle-photo {
			left: rem-calc(-80);
			z-index: 1;
		}
		.no-bg {
			left: rem-calc(210);
			z-index: 0;
		}
	}

	&.single-header {
		h1 {
			margin-top: 0;
			left: rem-calc(10) !important;
		}
	}
}

.inset-logo {
	height: rem-calc(250);
	background: white;
	border-radius: 50%;
	z-index: 10;

	div {
		margin-top:  rem-calc(50);
	}
}

.circle-photo {
	height: rem-calc(750);
	top: rem-calc(-370);
	left: rem-calc(210);
	background-color: $green;
	z-index: 1;
	@extend %circle;
	@extend %bg-cover;

	&.gold {
		background-color: #afa491;
		z-index: 9;
		left: rem-calc(-50);
		top: rem-calc(-200);
	}

	&.contact-big {
		@extend %bg-cover;
		left: rem-calc(205);
		top: rem-calc(-200);
		z-index: 9;
	}

	&.single {
		left: rem-calc(600);
		top: rem-calc(10);
		height: rem-calc(500);
		background-image: url(images/wood-bg.jpg);
		@extend %bg-cover;
		z-index: 2;
	}

	&.contact {
		background: #333;
		left: rem-calc(500);
		top: rem-calc(10);
		height: rem-calc(500);
	}

	&.category {
		background-image: url(images/wood-bg.jpg);
		@extend %bg-cover;
	}
}

.inset-menu {
	z-index: 10;
	ul {
		margin-top: rem-calc(6);
		margin-left: 0;
	}
	li {
		position: relative;
		z-index: 999;
		font-size: rem-calc(14);
	}
	a {
		@extend %transition-color;
		&:hover {
			color: $green;
		}
	}

	&.single-inset {
		position: absolute;
		top: rem-calc(220);
		left: rem-calc(320);
	}
}

.circle-red {
	height: rem-calc(1000);
	border: 1px solid #f2763b;
	@extend %circle;
	left: -30%;
	top: rem-calc(-440);
	z-index: 1;

	&.clients {
		left: rem-calc(-40);
		top: rem-calc(-550);
	}

	&.info {
		left: rem-calc(-40);
		top: rem-calc(-550);
	}

	&.single {
		top: rem-calc(-160);
		left: rem-calc(200);
		z-index: 0;
	}

	&.contact {
		top: rem-calc(-600);
		left: rem-calc(180);
		z-index: 0;
	}
}

.circle-dashed {
	height: rem-calc(333);
	border: 1px dashed $green;
	@extend %circle;
	right: rem-calc(-45);
	top: rem-calc(200);
	z-index: 12;
	-webkit-animation: fadeIn 1s linear 1,rotate 1s linear infinite;
	-o-animation: fadeIn 1s linear 1,rotate 1s linear infinite;
	animation: fadeIn 1s linear 1,rotate 1s linear infinite;
}

.circle-green-big {
	height: rem-calc(1000);
	@extend %circle;
	border: 1px dashed $green;
	top: rem-calc(-10);
	left: rem-calc(200);
	-webkit-animation: rotate 3s linear infinite;
	-o-animation: rotate 3s linear infinite;
	animation: rotate 3s linear infinite;

	&.info {
		left: rem-calc(-130);
		top: rem-calc(-700);
		width: rem-calc(1200);
		height: rem-calc(1200);
		-webkit-animation-duration: 5s;
		-moz-animation-duration: 5s;
		-o-animation-duration: 5s;
		animation-duration: 5s;
	}

	&.single {
		left: rem-calc(-200);
		top: rem-calc(-400);
	}

	&.contact {
		top: rem-calc(-500);
		left: 0px;
	}
}

.contact-header {
	z-index: 0;
}