/**
 * Main menu
 */
%circle {
	@include border-radius(50%);
}

.logo-container {
	top: rem-calc(40);
	left: rem-calc(200);
	z-index: 99;

	h4 {
		line-height: 1.2;
		margin: rem-calc(47) 0 0 rem-calc(35);
		font-size: rem-calc(20);
		width: rem-calc(198);
	}

	span {
		color: $green;
		@extend %apex-medium-italic;
	}

	&.r {
		left: rem-calc(630);
	}

	p {
		width: rem-calc(198);
		margin-left: rem-calc(33);
		margin-top: rem-calc(10);
		font-size: rem-calc(14);
	}
}

.logo {
	height: rem-calc(250);
	background: white;
	@extend %circle;
	
	.r & {
		background-image: url(images/bg-circle.jpg);
	}
	
	.logo-img {
		top:  rem-calc(50);
	}
}

.go-about {
	top: rem-calc(200);
	z-index: 10;

	a {
		@extend %circle;
		height: rem-calc(333);
		background: url(images/bg-menu-about.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	&.by-clients {
		left: rem-calc(667);
		top: rem-calc(380);

		a {
			background-image: url(images/bg-menu-services.jpg);
		}
	}
}

.menu-circle {
	a {
		@extend %transition;
		&:hover {
			@include opacity(.8);
			text-decoration: underline;
		}
	}
}

.circle-red {
	height: rem-calc(1000);
	border: 1px solid #f2763b;
	border-radius: 50%;
	left: -30%;
	top: rem-calc(-440);
}

//Main slide
.main-slide {
	height: rem-calc(500);
	background: #ccc;
	border-radius: 50%;
	top: rem-calc(170);
	left: rem-calc(310);
	z-index: 20;
}