.icon-bgbody {
	top: 0;
	right: 0;
}
/**
 * Main menu
 */
.menu-container {
	min-height: rem-calc(750);
}

%circle {
	@include border-radius(50%);
}
%lh-1 {
	line-height: 1;
}

.logo-container {
	top: rem-calc(40);
	left: rem-calc(200);
	z-index: 99;

	h4 {
		line-height: 1.2;
		margin: rem-calc(47) 0 0 rem-calc(35);
		font-size: rem-calc(20);
		width: rem-calc(198);
	}

	span {
		color: $green;
		@extend %apex-medium-italic;
	}

	&.r {
		left: rem-calc(630);
	}

	p {
		width: rem-calc(198);
		margin-left: rem-calc(33);
		margin-top: rem-calc(10);
		font-size: rem-calc(14);
	}
}

.logo {
	height: rem-calc(250);
	background: white;
	@extend %circle;
	
	.r & {
		background-image: url(images/bg-circle.jpg);
	}
	
	.logo-img {
		top:  rem-calc(50);
	}
}

.go-about {
	top: rem-calc(200);
	z-index: 10;

	a {
		@extend %circle;
		height: rem-calc(333);
		background: url(images/bg-menu-about.jpg);
		@extend %bg-cover;
	}

	p {
		@extend %lh-1;
		font-size: rem-calc(12);
		margin-bottom: 0;
	}

	h3 {
		@extend %lh-1;
	}

	h4 {
		margin: rem-calc(195) 0 0 rem-calc(90);
		@extend %lh-1;
	}

	&.by-clients {
		left: rem-calc(667);
		top: rem-calc(380);

		a {
			background-image: url(images/bg-menu-services.jpg);
			@extend %bg-cover;
		}
	}

	&:hover {
		z-index: 9999;
		p,h3,h4 {
			color: white;
			text-decoration: underline;
		}
	}
}

.about-header {
	margin-top: rem-calc(100);
}

.wood-bg {
	height: rem-calc(250);
	background-image: url(images/bg-wood.jpg);
	@extend %bg-cover;
	border-radius: 50%;
	top: rem-calc(390);
	left: rem-calc(120);
	z-index: 0;
}

//Main slide
.main-slide {
	height: rem-calc(500);
	top: rem-calc(170);
	left: rem-calc(310);
	z-index: 20;

	header {
		left: rem-calc(123);
		top: rem-calc(65);
		z-index: 999;
	}

	figure {
		@extend %bg-cover;
		width: rem-calc(500);
		height: rem-calc(500);
	}

	figcaption {
		background: #fff;
		padding: rem-calc(10);
		margin: rem-calc(260) 0 0 rem-calc(126);
	}

	p {
		margin-bottom: 0;
		font-size: rem-calc(12);
	}

	&:hover {
		h5 {
			color: $green;
		}
	}
}

.list-slides {
	height: 100%;

	ul {
		@extend %ov-hidden;
	}

	ul,li,figure {
		height: 100%;
	}

	li {
		width: rem-calc(500) !important;
		height: rem-calc(500) !important;
		@include border-radius(rem-calc(250));
	}
}

.arrow-right {
	@extend %transition;
	background: white;
	right: rem-calc(-40);
	top: rem-calc(150);
	width: rem-calc(85);
	height: rem-calc(85);
	@extend %circle;
	z-index: 999;

	div {
		margin-top: rem-calc(25.5);
	}
	&:hover {
		@include scale(1.1);
	}
}

.arrow-left {
	@extend %transition;
	right: rem-calc(-15);
	top: rem-calc(250);
	background: $green;
	width: rem-calc(60);
	height: rem-calc(60);
	@extend %circle;
	z-index: 999;

	div {
		margin-top: rem-calc(18);
	}
	&:hover {
		@include scale(1.1);
	}
}