.icon-loading {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 301px;
  height: 219px;
}
.icon-logo {
  background-image: url(images/spritesheet.png);
  background-position: -301px 0px;
  width: 169px;
  height: 123px;
}
